* {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

#navbar {
	height: 40px;
	width: 100%;
}

#btn-icon {
	color: #fff;
	margin-left: 20px;
	font-family: Helvetica;
	font-size: 14px;
	font-weight: bold;
	margin-right: 20px;
	text-align: center;
	
}


header {
  background-color: rgb(2, 106, 167);
  overflow: hidden;
  padding: 5px 8px;
  z-index: 10;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  height: 30px;
}

#btn-icon-container {
	border: none;
	background-color: rgb(103, 166, 202);
	margin-left: 10px;
	height: 30px;
}

#btn-icon-container:hover {
	cursor: pointer;
	background-color: rgb(53, 136, 185);
}

input {
	background-color: rgb(103, 166, 202);
	margin-left: 135px;
	border: none;
	margin-top: -30px;
    position: absolute;
    width: 180px;
    height: 30px;
    color: #fff;
	font-family: Helvetica;

}

.fa-search:before {
    content: "\f002";
    margin-left: 295px;
    margin-top: -37px;
    position: absolute;
    color: #fff;
}

input:hover{
	cursor: pointer;
	background-color: rgb(53, 136, 185);
}

#logo img{
	position: fixed;
	width: 7%;
	margin-left: 600px;
    margin-top: -50px;
}

#logo img:hover{
	background-color: #fff; 
}

#right-menu {
	display: inline-block;
	margin-top: 10px;
}

.fa-plus {
	position: fixed;
    content: "\f067";
    margin-left: 1000px;
    display: inline-block;
    margin-top: -90px;
    color: #fff;
    font-size: 16px;
}

#btn-plus .fa-plus{
	border: none;
	background-color: rgb(103, 166, 202);
	cursor: pointer;
	width: 30px;
	height: 20px;
	padding: 5px;
} 

#btn-plus .fa-plus:hover {
	cursor: pointer;
	background-color: rgb(53, 136, 185);
}

.fa-info-circle {
	position: fixed;
    content: "\f067";
    margin-left: 1050px;
    display: inline-block;
    margin-top: -90px;
    color: #fff;
    font-size: 16px;
}


#btn-info .fa-info-circle {
	border: none;
	background-color: rgb(103, 166, 202);
	cursor: pointer;
	width: 30px;
	height: 20px;
	padding: 5px;
}

#btn-info .fa-info-circle:hover {
	cursor: pointer;
	background-color: rgb(53, 136, 185);
}

.fa-bell-o {
	position: fixed;
    content: "\f067";
    margin-left: 1100px;
    display: inline-block;
    margin-top: -90px;
    color: #fff;
    font-size: 16px;
}

#btn-bell .fa-bell-o {
	border: none;
	background-color: rgb(103, 166, 202);
	cursor: pointer;
	width: 30px;
	height: 20px;
	padding: 5px;
}

#btn-bell .fa-bell-o:hover {
	cursor: pointer;
	background-color: rgb(53, 136, 185);
}


#listas {
	background-color: rgb(29, 141, 194);
	width: 100%;
	height: 700px;
}

#user img {
	position: fixed;
	height: 30px;
    width: 30px;
    border-radius: 25px;
    margin-left: 1170px;
    margin-top: -95px;
} 

#tablero {
	width: 267px;
	height: 40px;
	background-color: rgb(103, 166, 202);
	color: #5A5959;
	position: fixed;
	margin-top: 100px;
	margin-left: 10px;
	font-family: Helvetica;
	font-size: 14px;
	font-weight: bold;
}


#tablero:hover {
	cursor: pointer;
	background-color: rgb(53, 136, 185);

} 